# Comma Seperated Values

Import necessary libraries

In [1]:
import os # to change pwd
import pandas as pd # to work with dataframes

In [2]:
os.chdir('D:\\Downloads\\Datasets\\NPTEL')

In [3]:
data_csv = pd.read_csv("Iris_data_sample.csv")
data_csv

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data_csv = pd.read_csv("Iris_data_sample.csv", 
                       index_col=0)
data_csv

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
data_csv = pd.read_csv("Iris_data_sample.csv", 
                       index_col=0, 
                       na_values=['??', '###'])
data_csv

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Excel Spreadsheets

Make sure to pip install xlrd.

In [6]:
data_xlsx = pd.read_excel("Iris_data_sample.xlsx", 
                          sheet_name='Iris_data')
data_xlsx

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
data_xlsx = pd.read_excel("Iris_data_sample.xlsx",
                          sheet_name='Iris_data',
                        index_col=0,
                         na_values=['??', '###'])
data_xlsx

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
data_txt1=pd.read_table('Iris_data_sample.txt')
data_txt1

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [13]:
data_txt1=pd.read_table('Iris_data_sample.txt', delimiter=' ')
data_txt1

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
data_txt2=pd.read_csv('Iris_data_sample.txt',
                        delimiter=' ',
                       index_col=0,
                       na_values=['??', '###'])
data_txt1

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica